/* VARIABLES */
$background-color: white;
$primary-color: blue;
$secondary-color: #999;

/* Main CSS */
* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $background-color;
	font-family: sans-serif;
		
}

/* Sidebar Nav*/

/*TODO Fix the sidebar so that the content doesn't go under it!*/
nav {

}

.nav-wrapper {
	position: fixed;
	padding: 20px;
	width: 20vw;
	background: $secondary-color;
	height: 100vh;
		#logo {
		align-self: center;
	}
	ul {
		
		padding-top: 20px;
	}
	li {
		align-self: center;
		list-style: none;
	}
	#primary-list {
		padding-bottom: 50px;
	}
}
.wrapper {
	
}
section {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	height: 100vh;
	margin-left: 20vw;
	.box {
		display: flex;
		justify-content: center;
		align-items: center;
		border: solid black 1px;
		flex-grow: 1;
		width: 250px;
		height: 250px;
	}
}