/* VARIABLES */
$background-color: white;
$primary-color: blue;
$secondary-color: darkblue;

/* Main CSS */
* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: $background-color;
	font-family: sans-serif;
}
.wrapper {
 	display: flex;
 	flex-direction: row;
}
/* Sidebar Nav*/
/*TODO Fix the sidebar so that the content doesn't go under it!*/
.sidebar {
	display: flex;
	
}
.sidebar-wrapper {
	position: fixed;
	background-color: $secondary-color;
	align-items: center;
	padding: 20px;
	height: 100vh;
	
	#logo {
		align-self: center;
		
	}
	ul {
		padding-top: 20px;
	}
	li {
		align-self: center;
		list-style: none;
	}
	#primary-list {
		padding-bottom: 50px;
	}
}

section {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	height: 100vh;

	.box {
		display: flex;
		justify-content: center;
		align-items: center;
		border: solid black 1px;
		flex-grow: 1;
		width: 250px;
		height: 250px;
	}
}